*{ margin: 0;
	padding: 0;
	box-sizing: border-box;

}
header{
	background-color: white;
	
	padding: 20px;
}
body{
	background-color: #24272E 
}
header > h1{
	color:#E2584D;
	text-align: center;
	font: sans-serif;
}
.score-board{
	border: 3px solid white;
	margin: 20px auto;
	width: 200px;
	height:80px;
	color: white;
	border-radius: 4px;
	text-align: center;
	padding: 15px 20px;
	font-size: 25px;
	font-family: sans-serif;
	position: relative;
}
 
 .badge{
 	background-color:#E2584D;
 	color: white;
 	padding: 2px 10px;
 	font-family: sans-serif;

 }	
 #user-lable{
 	position: absolute;
 	top: 20px;
 	left: -32px;
 }
#computer-lable {

 	position: absolute;
 	top: 20px;
 	right: -32px;
}

.choices{
	margin: 50px 0px;
	padding: 2px;
	text-align:center;
}

 .choice{
 	display: inline-block;
 	border: white solid 3px;
 	border-radius: 50%;
 	margin: 0px 15px;
 	padding: 18px;
 	transition: all 0.4s ease;
 

 }
	#action{
		color: white;
		text-align: center;
		font-weight: bold;
		padding: 15px;
		font-family: sans-serif;

	}
.choice:hover{
	cursor: pointer;
	background:gray;
}
#user-score{

	font-size: 35px;
}
#computer-score{

	font-size: 35px;
}